*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    background:black;
}

#camera{
    position:fixed;
    inset:0;

    width:100vw;
    height:100vh;

    object-fit:cover;

    z-index:0;
}

#container{
    position:fixed;
    inset:0;
    z-index:10;
}
